.contact-form{
    text-align: start!important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;

    @media(min-width:768px){
        flex-wrap: nowrap;
        margin: 6rem 0;
    }
    
    .contact-text{
        padding: 0 1rem;

        h3{
            font-size: 30px;
            margin: 0;
            margin-bottom: 10px;
        }

        p{
            font-size: 17px;
        }
        h5{
            font-size: 17px;
            margin: 5px 0;
        }
    }
   
    .form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%!important;
        padding: 0 1rem;
        margin: 20px 0;
        position: relative;
        @media(min-width:768px){
            max-width: 55%;
        }

        .name{
            grid-area: 1 / 1 / 2 / 2; 
        }
        .phone{
            grid-area: 1 / 2 / 2 / 3;
        }
        .email{
            grid-area: 2 / 1 / 3 / 3; 
        }
        .message{
            grid-area: 3 / 1 / 3 / 3;
        }
        .form-input{
            width: 100%!important;
            box-sizing: border-box;
            padding: 9px 15px;
            border: 1px solid #ccc;

            &:focus {
                outline: none;
            }
        }
        .submit{
            width: 100%;
            grid-column: 2;
            .submit-button{
                font-size: 20px;
                padding: 2px 5px;
                border: 0;
                border-bottom: 1px solid black;
                border-left: 1px solid black;
                background: none;
                
                position: relative;
                float: right;
            }
        }
        
    }
}