.blog-page {
  width: 85%;
  float: right;

  @media (max-width:768px){
    width: 100%;
  } 

  .post {
    padding: 50px 0;
    width: 100%;
    background-color: #fff;
  }
  

}
.video-react, .video-player {
  border: 1px solid red;
  margin: 0;
}

.video-react-video {
  width: 60vw;
  padding: 0;
  margin: 0;
}