.container-programe{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white!important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        font-size: 32px;
        margin: 10px;
    }

    .border{
        border-color: white;
        .link{
            background-color: transparent;
            border: 1px solid white;
        }
    }
}